<div class="row cart-item-container" appHighlight appBorder="1px solid black">
    <div class="col-3">{{cartItem.name}}</div>
    <div class="col-4">
        <div class="form-group row">
            <div class="col-10">
                <input class="form-control" type="number" (change)="notifyParent()"
                       [(ngModel)]="cartItem.quantity" id="number-input" min="0" max="6">
            </div>
        </div>
    </div>
    <div class="col-2 price">{{cartItem.price}}</div>
    <div class="col-3">
        <a class="nav-link remove" href="#" (click)="removeItem()">Remove</a>
    </div>

</div>
