<div class="card margin-top-15 cart-container">
    <h5 class="card-header">Your cart</h5>
    <div class="card-body">
        <div class="cart-list container" *ngIf="cartItemsList.size > 0">
            <div class="sorting-block">
                Sort by:
                <select class="form-control sort-select" id="sorting"
                        [(ngModel)]="selectedSortingField">
                    <option *ngFor="let field of sortingFields" [value]="field">{{field | titlecase}}</option>
                </select>
                <input type="checkbox" class="sort-checkbox" [checked]="isSortingAsc"
                       (change)="isSortingAsc = !isSortingAsc"/> Ascending order
            </div>
            <div class="card cart-list">
                <div class="row cart-headings">
                    <h6 class="card-subtitle mb-2 col-3">Name</h6>
                    <h6 class="card-subtitle mb-2 col-4">Quantity</h6>
                    <h6 class="card-subtitle mb-2 col-2">Price</h6>
                </div>
                <div *ngFor="let item of cartItemsList | orderByField:selectedSortingField:isSortingAsc">
                    <cart-item [cartItem]="item" (itemRemoved)="onItemRemoved($event)"
                               (quantityChanged)="onQuantityChanged()"></cart-item>
                </div>
            </div>

            <h6 class="card-subtitle mb-2 subtitle">Total price: {{totalPrice}}</h6>
            <div class="cart-submit">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                    Submit order
                </button>

                <!-- Modal -->
                <div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thank you for the order!</h5>
                                <button type="button"  (click)="onSubmitCart()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Your order is confirmed.
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="onSubmitCart()" data-dismiss="modal" class="btn btn-dark">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <h6 *ngIf="cartItemsList.size === 0" class="card-subtitle mb-2 text-muted">Your cart is empty</h6>
    </div>
</div>
